.button {
  width: 6rem;
  height: 8rem;
  background-color: #4cd62b;
  border: none;

  color: #f2f3f5;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }
}
